@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

[data-theme='dark'] {
  background: #020617;
  color: #F8FAFC;
}

body {
  background: var(--bg, #F8FAFC);
}
